@keyframes scaleout {
  from {
    transform: scale(0.6);
  }
  to {
    transform: scale(1);
  }
}

.modal-bg {
  position: fixed;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-bg .modal {
  position: relative;
  top: -10%;
  z-index: 99;
  margin: auto;
  min-width: 400px;
  overflow: auto;
  min-height: 150px;
  background-color: white;
  border-radius: 4px;
  animation: scaleout 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
