$color-primary: #3bbcc4;
$color-secondary-1: #2a3950;
$color-secondary-2: #979ea9;
$color-text: #484848;
$color-text-muted: #757575;
$color-danger: #f26754;
$color-bg: #fafafa;
$color-divider: rgb(238, 238, 238);

$font-family: "Roboto", "Helvetica", "Arial";

$z-index-modal-overlay: 8;
$z-index-modal: 9;
$z-index-modal-auto-complete-window: 10;
