:root {
    /* App Theme */
    --primary-color: #f7e713;

    /* Text Palette */
    --primary-text-color: #393939;

    /* Background Palette */
    --background-white-light: #ffee07;
    --background-white-medium: #f4f4f4;
    --background-hover: #eee;

    /* Border Palette */
    --border-color: #f4f4f4;
}
